@tailwind base;
@tailwind components;
@tailwind utilities;


.triangle{
    right: 0;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 0, 0.322);
}

.triangle:before{
    content: "";
    top: 2px;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid white;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.blurFeat {
    backdrop-filter: blur(10px);
}


.logout{
    background-color: #2024399e !important;
}

::-webkit-scrollbar {
    display: none;
}
.swiper-pagination-bullets {
    display: none;
}

.parentcss{
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation-name: fadeIn;
    animation-duration: 300ms; /* Adjust the duration as needed */
    animation-iteration-count: 1;
  }


  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  
  .fade-out {
    animation: fadeOut 300ms forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }

  .tab:hover{
    background-color: rgba(0, 213, 255, 0.064);
  }